@charset "utf-8";
*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;color: #333;}
a {
	text-decoration: none;
}
body{
	letter-spacing: 0.03em;
  font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.header{
	position: fixed;
	height: 60px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	box-shadow: 1px 1px 2px #ccc;
	background: #fff;
	background-image: url(/img/top_bg.jpg);
	background-size: cover;
}

.site-name{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	font-size: 20px;
	font-family: "Nico Moji";
	color: #f99f47;
}
.setting{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
}
.setting img{
	width: 100%;
}

.contents{
	padding-top: 20px;
	padding-bottom: 40px;
}

#list{
	padding: 50px 10px 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.list-title {
	text-align: center;
	font-size: 30px;
	color: #62cc2e;
	padding-top: 60px;
}

.question-list {
	width: 50%;
	margin-bottom: 50px;
}

.question-title {
	margin-bottom: 20px;
}


.link{
	width: 80%;
	display: block;
	position: relative;
  margin-bottom: 5px;
  line-height: 1.5;
  background: whitesmoke;
  text-decoration: none;
  padding: 10px;
  border-left: solid 5px #F99F48;/*左側の線*/
  margin-right: 2%;
  padding-left: 1em;
}
.link:nth-child(2n){
	margin-right: 0;
}
.link.is-check{
	border-left: solid 5px #62cc2e;
}
#check-delete{
	background-color: #959595;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  display: block;
  padding: 15px 0;
  width: 60%;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  display: none;
}
#check-none{
	display: none;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.key{
	position: relative;
	padding: 30px 0;
	background: #1B435D;
	margin-bottom: 50px;
	overflow: hidden;
	overflow: scroll;
}
.key h1{
	padding: 0 20px;
	color: #fff;
	font-size: 20px;
}
.key--top{
	position: relative;
	background: url(../img/top_bg.jpg) no-repeat;
	background-size: cover;
}

.key--top h1{
	top: 20px;
	left: 10px;
	transform: translate(0,0);
	z-index: 20;
	font-size: 50px;
	font-family: "Nico Moji";
	letter-spacing: 5px;
}
.key--top h2{
	position: absolute;
	top: 80px;
	left: 10px;
	transform: translate(0,0);	
	font-size: 18px;
	color: #fff;
	z-index: 20;
}

#score{
	padding: 30px 10px;
	text-align: center;
}
#score-title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
#score-num{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}
#score-rank{
	font-size: 30px;
	font-weight: bold;
}


.level{
	position: absolute;
	top: 170px;
	left: 0;
	display: flex;
	align-items: center;
	/*padding: 10px;*/
}
.level-title{
	color: #fff;
	margin-right: 10px;
}
.level-list{
	font-size: 0;
}
.level span{
	padding: 3px 10px;
	width: 10px;
	font-size: 14px;
	font-weight: bold;
	background: #efefef;
}
.level span.is-level{
	background: #454545;
	color: #fff;
}
.anser{
	text-align: center;
  margin: 30px;
  font-size: 26px;
  font-weight: bold;
}
#question-voice{
	position: absolute;
	bottom: -30px;
	right: 20px;
	background-color: #F99F48;
	border-radius: 50%;
	width: 60px;
	height: 60px;
  color: #fff;
  outline: none;
  border: none;
  display: block;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  z-index: 10;
}
#question-voice img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.answer {
	font-size: 30px;
    font-weight: bold;
    padding: 0 80px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

#question-answer {
	color: #1B435D;
	text-align: center;
	display: none;
}



#question-text{
	/* opacity: 0; */
	/* text-align: center; */
	font-size: 20px;
	font-weight: bold;
	padding: 10px 80px;
	margin-bottom: 20px;
	transition: all 0.5s;
}
#question-text.show{
	opacity: 1;
}
#anser{
	background-color: #f56565;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  padding: 15px 0;
}
.anser-score{
	background-color: #f56565;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  padding: 15px 0;
}

.anser-open {
	background-color: #f56565;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.anser-open a {
	border: none;
	color: #fff;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 15px 0;
}
#rei-open{
	background-color: #5DA797;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  display: block;
  padding: 15px 0;
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}
.rei-dl{
	position: relative;
	margin: 0 10px 20px 10px;
	padding: 20px;
	background: #ebebeb;
}
.rei-dl dt{
	margin-bottom: 10px;
	font-weight: bold;
}
.rei-voice{
	/*position: absolute;*/
	width: 50px;
	height: 50px;
	background: #F99F48;
	border-radius: 50%;
	margin: 20px auto 0 auto;
}
.rei-voice img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#check{
	position: fixed;
	bottom: 120px;
	right: 70px;
	z-index: 20;
}
#check:before,
#check:after{
	content:"";
	display:block;
	position:absolute;
}
#check:before{
	width:50px;
	height:50px;
	border-radius:50%;
	border:2px solid #696969;
}
#check:after{
	border-left: 6px solid #696969;
  border-bottom: 6px solid #696969;
  width: 22px;
  height: 10px;
  transform: rotate(-45deg);
  left: 14px;
	top: 16px;
}
#check.is-check:before{
	border:2px solid #62cc2e;	
	background: #62cc2e;
}
#check.is-check:after{
	border-left: 6px solid #fff;
  border-bottom: 6px solid #fff;
}

.nav{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 45px;
	width: 100%;
	background: red;
	display: flex;
	background: #1B435D;
}
.nav a{
	position: relative;
	flex-grow: 1;
	display: block;
}
.nav a img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;
	height: 30px;
}
.pager{
	position: relative;
	width: calc(100% / 2);
	display: block;
}
.pager #prev{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 50%;
	height: 100%;
}
.pager #next{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 50%;
	height: 100%;
}


.control{
	position: fixed;
	width: 100%;
	bottom: 0;
	transform: translateY(-100%);
	background: red;
	z-index: 100;
}
.control.is-active{
	transform: translateY(0);	
}

@media screen and (max-width: 480px) { 
	#list {
		display: block;
		width: 100%;
	}
	.question-list {
		width: 100%;
	}
	.link {
		width: 100%;
	}
	.answer {
		padding: 0 10px;
	}
	#question-text {
		padding: 0 10px;
	}
	#question-text {
		margin-bottom: 20px;
	}
}